[user]
	name = Shuji Oba
	email = shuji365630@gmail.com
[core]
	editor = vim -f
	excludesfile = /Users/oba/.gitignore_global
[color]
	ui = auto
[commit]
	template = ~/.commit_template
[alias]
	a = add
    c = commit

